---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

const pageTitle = "ブログ";
---

<BaseLayout pageTitle={pageTitle}>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <PostList />
</BaseLayout>
