---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "たむらぼ";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>About</h2>
    <p>2018 年から Microsoft でカスタマー サポートに従事しています。</p>
    <p>
      OS や TCP/IP スタックを中心としてコンピューター全般に興味が尽きません。
    </p>
    <p>最近は組織 (チーム) 作りに勤しんでいます。</p>
  </section>
  <h2>Featured Posts</h2>
  <h2>Recent Posts</h2>
</BaseLayout>
